.myApp {
    width: 100%;
    height: 400px;
    float: left;
    display: block;
    padding: 0;
}

.myApp-container {
    width:100%;
    height: 100%;
    float: left;
    display: block;
    padding: 0;
}

#categoryBrowser {
    background: #f2f2f2;
    float: left;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    font-size: 12px;
    padding: 1%;
    width: 98%;
    height: 94%;
}

#categoryBrowser div {
    float: left;
    position: relative;
    background: white;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    height: 96%;
    width: 18%;
}

#categoryBrowser ul {
    list-style: none;
    background: white;
    margin: 0;
    max-height: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding: 0;
}

#categoryBrowser ul.scrollable {
    max-height: none;
    overflow: hidden
}

#categoryBrowser .no_scroll ul {
    overflow: hidden
}

#categoryBrowser li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 32px;
    line-height: 32px;
}

#categoryBrowser li:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.03)
}

#categoryBrowser li a {
    color: black;
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

.sublist li {
    text-overflow: ellipsis;
    overflow: hidden;
    /* background: white; */
}

#categoryBrowser .sublist {
    left: 1%;
    width: 17%;
}

#categoryBrowser .sublist + .sublist {
    left: 2%;
    width: 20%;
}

#categoryBrowser .sublist + .sublist + .sublist {
    left: 3%;
    width: 20%;
}

#categoryBrowser .sublist + .sublist + .sublist + .sublist {
    left: 4%;
    width: 20%;
}

#categoryBrowser .sublist li.more {
    background-position: 96% 10px;
}

#categoryBrowser .sublist li a {
    padding: 0 10px;
}

#categoryBrowser li.active {
    background: no-repeat;
    background-color: #f9d234;
    background-image: -moz-linear-gradient(#f9dd6b, #f9d234);
    background-image: -webkit-linear-gradient(top, #f9dd6b, #f9d234);
    background-image: linear-gradient(to bottom, #f9dd6b, #f9d234);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05)
}

#categoryBrowser li.active > div {
    display: block
}

#categoryBrowser li.active > a {
    color: white;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

#categoryBrowser li.active.more {
    background: url(./images/arrows.png) no-repeat 96% -18px, -webkit-linear-gradient(#f9dd6b, #f9d234) 0 0;
    background: url(./images/arrows.png) no-repeat 96% -18px, -moz-linear-gradient(#f9dd6b, #f9d234) 0 0;
    background: url(./images/arrows.png) no-repeat 96% -18px, linear-gradient(#f9dd6b, #f9d234) 0 0;
}

#categoryBrowser .sublist li.more.active {
    background: url(./images/arrows.png) no-repeat 96% -18px, -webkit-linear-gradient(#f9dd6b, #f9d234) 0 0;
    background: url(./images/arrows.png) no-repeat 96% -18px, -moz-linear-gradient(#f9dd6b, #f9d234) 0 0;
    background: url(./images/arrows.png) no-repeat 96% -18px, linear-gradient(#f9dd6b, #f9d234) 0 0;
}

#categoryBrowser li.more {
    background-image: url(./images/arrows.png);
    background-position: 96% 10px;
    background-repeat: no-repeat;
    border-bottom: thin solid #d9d9d9;
}

#categoryBrowser li.more a{
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px 9% 0 2%;
}

#categoryBrowser li.more:hover {
    background: url(./images/arrows.png) no-repeat 96% -18px, -webkit-linear-gradient(#f9dd6b, #f9d234) 0 0;
    background: url(./images/arrows.png) no-repeat 96% -18px, -moz-linear-gradient(#f9dd6b, #f9d234) 0 0;
    background: url(./images/arrows.png) no-repeat 96% -18px, linear-gradient(#f9dd6b, #f9d234) 0 0;
}

#categoryBrowser li.more a:hover {
    color: white;
}

#categoryBrowser .medium li:hover {
    box-shadow: inset 0 0 25px #eff1f1, inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

#categoryBrowser .medium li.active {
    box-shadow: inset 0 0 25px #eff1f1, inset 0 0 0 1px rgba(0, 0, 0, 1)
}

#categoryBrowser .medium li.active a{
    color: white;
}

#categoryBrowser .medium li {
    display: block;
    float: left;
    width: 32.7%;
    min-height: 100px;
    border-right: thin solid #d9d9d9;
    border-bottom: thin solid #d9d9d9;
}

#categoryBrowser .medium li a {
    color: black;
    width: 100%;
    height: 100%;
    padding: 0;
}

#categoryBrowser .medium li img {
    display: block;
    height: 50px;
    width: 60px;
    margin: 2% auto 1%;
}

#categoryBrowser .medium li a span
{display: block;text-align: center;word-break: keep-all;overflow: visible;white-space: normal;line-height: initial;padding: 0 1px;}

#categoryBrowser p {
    border-top: 1px solid #e6e6e6;
    color: #666;
    line-height: 21px;
    margin: 16px 20px;
    padding-top: 19px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {

}


.category-chooser {
    position: absolute;
    background: #F9D234;
    left: 13.75%;
    font-weight: bold;
    border-radius: 2px;
    font-size: 19px;
    color: white;
    padding: 10px 10px;
}
