<?php
/** @var \Alex\Filter\Block\Filter $block */
/** @var Alex\Filter\Helper\Data $helper */
$helper = $block->getHelper();
?>
<div ng-app="myApp" class="myApp">
    <div ng-controller="CategoryController" class="myApp-container">
        <div class="portalBlock categoryBrowser myApp-container" ng-show="isShowCategory" ng-cloak>
            <div id="categoryBrowser" style="position: relative;">
                <!--Main list-->
                <div class="mainlist" style="overflow: hidden;">
                    <ul>
                        <ng-template ng-repeat="category in categories">
                            <li ng-click="selectCategory(category, 1)" class="more"
                                ng-class="{'active': isCategorySelected(category, 1)}" id="catid_{{category.id}}">
                                <a rel="nofollow" href="javascript:void(0)" ng-bind="category.name"></a>
                            </li>
                        </ng-template>
                    </ul>
                </div>
                <!--Sub 1-->
                <div class="sublist" style="display: block;" ng-if="sub1Categories.length">
                    <ul class="">
                        <ng-template ng-repeat="subCategory in sub1Categories">
                            <li class="more" ng-click="selectCategory(subCategory, 2)"
                                ng-class="{'active': isCategorySelected(subCategory, 2)}">
                                <a rel="nofollow" href="javascript:void(0)" title="{{subCategory.name}}">
                                    <span ng-bind="subCategory.name"></span>
                                </a>
                            </li>
                        </ng-template>
                    </ul>
                </div>
                <!--Sub 2-->
                <div class="sublist images medium" style="display: block;" ng-if="sub2Categories.length">
                    <ul class="">
                        <ng-template ng-repeat="subCategory in sub2Categories">
                            <li ng-click="selectCategory(subCategory, 3)"
                                ng-class="{'active': isCategorySelected(subCategory, 3)}"
                            >
                                <a href="javascript:void(0)" title="{{subCategory.name}}">
                                    <img ng-if="subCategory.image" ng-src="{{subCategory.image}}"
                                         ng-bind-alt="subCategory.name">
                                    <img ng-if="!subCategory.image" ng-src="<?php echo $block->getPlaceholderImage() ?>"
                                         ng-bind-alt="subCategory.name">
                                    <span ng-bind="subCategory.name"></span>
                                </a>
                            </li>
                        </ng-template>
                    </ul>
                </div>
                <!--Sub 3-->
                <div class="sublist images medium" style="display: block;" ng-if="sub3Categories.length">
                    <ul>
                        <ng-template ng-repeat="subCategory in sub3Categories">
                            <li ng-click="selectCategory(subCategory, 4)"
                                ng-class="{'active': isCategorySelected(subCategory, 4)}"
                            >
                                <a href="javascript:void(0)" title="{{subCategory.name}}">
                                    <img ng-if="subCategory.image" ng-src="{{subCategory.image}}"
                                         ng-bind-alt="subCategory.name">
                                    <img ng-if="!subCategory.image" ng-src="<?php echo $block->getPlaceholderImage() ?>"
                                         ng-bind-alt="subCategory.name">
                                    <span ng-bind="subCategory.name"></span>
                                </a>
                            </li>
                        </ng-template>
                    </ul>
                </div>
                <!--Sub 4-->
                <div class="sublist" style="display: block;" ng-if="sub4Categories.length">
                    <ul>
                        <ng-template ng-repeat="subCategory in sub4Categories">
                            <li ng-click="selectCategory(subCategory, 5)"
                                ng-class="{'active': isCategorySelected(subCategory, 5)}">
                                <a rel="nofollow" href="{{subCategory.url}}" title="{{subCategory.name}}">
                                    <span ng-bind="subCategory.name"></span>
                                </a>
                            </li>
                        </ng-template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        angular.module("myApp", ['angular-loading-bar']).controller("CategoryController", function ($scope, $sce, $http, $timeout) {
            $scope.isLoading = false;
            $scope.isShowCategory = false;
            $scope.level = 0;
            $scope.selectedCategory = {};
            $scope.selectedSub1 = {};
            $scope.selectedSub2 = {};
            $scope.selectedSub3 = {};
            $scope.selectedSub4 = {};
            //dummy
            $scope.categories = [];

            $scope.sub1Categories = [];
            $scope.sub2Categories = [];
            $scope.sub3Categories = [];
            $scope.sub4Categories = [];

            $scope.toggleCategory = function () {
                if (!$scope.isShowCategory) {
                    $scope.isShowCategory = true;
                    return;
                }
                $scope.isShowCategory = false;
            };

            $scope.selectCategory = function (category, level) {
                if (level == 1) {
                    if ($scope.selectedCategory === category) {
                        return;
                    }

                    var id = category.id;
                    var neededProperties = 'subCategories_' + id;
                    $scope.sub1Categories = {}
                    if ($scope[neededProperties]) {
                        $scope.sub1Categories = $scope[neededProperties];
                    }

                    $scope.selectedSub2 = {};
                    $scope.selectedSub3 = {};
                    $scope.selectedSub1 = {};
                    $scope.sub3Categories = [];
                    $scope.sub2Categories = [];
                    $scope.selectedSub4 = {};
                    $scope.sub4Categories = [];
                    $scope.selectedCategory = category;
                }

                if (level == 2) {
                    if ($scope.selectedSub1 === category) {
                        return;
                    }

                    var id = category.id;
                    var neededProperties = 'brands_' + id;
                    $scope.sub2Categories = {};
                    if ($scope[neededProperties]) {
                        $scope.sub2Categories = $scope[neededProperties];
                    }
                    else {
                        location.href = category.url;
                    }

                    $scope.selectedSub3 = {};
                    $scope.selectedSub2 = {};
                    $scope.sub3Categories = [];
                    $scope.selectedSub4 = {};
                    $scope.sub4Categories = [];
                    $scope.selectedSub1 = category;
                }

                if (level == 3) {
                    if ($scope.selectedSub2 === category) {
                        return;
                    }
                    var id = category.id;
                    var neededProperties = 'level4s_' + 'b' + id + 'c' + $scope.selectedSub1.id;
                    $scope.sub3Categories = {};
                    if ($scope[neededProperties]) {
                        $scope.sub3Categories = $scope[neededProperties];
                    }
                    else {
                        location.href = category.url;
                    }
                    $scope.selectedSub3 = {};
                    $scope.selectedSub4 = {};
                    $scope.sub4Categories = [];
                    $scope.selectedSub2 = category;
                }

                if (level == 4) {

                    if ($scope.selectedSub3 === category) {
                        return;
                    }

                    var brandId = $scope.selectedSub2.id;
                    var id = category.id;
                    var neededProperties = 'level5s_' + id + 'b' + brandId + 'c' + $scope.selectedSub1.id;
                    $scope.sub4Categories = {};
                    if ($scope[neededProperties]) {
                        $scope.sub4Categories = $scope[neededProperties];
                    }
                    else {
                        location.href = category.url;
//                        $scope.sub4Categories = [
//                            {
//                                'id'    : null,
//                                'name' : "Go to result page",
//                                'url'   : category.url
//                                ,
//                            }
//                        ];
                    }

                    $scope.selectedSub4 = {};
                    $scope.selectedSub3 = category;
                }

                if (level == 5) {
                    $scope.selectedSub4 = category;
                }
            };

            $scope.isCategorySelected = function (category, level) {
                if (level == 1) {
                    return category.id === $scope.selectedCategory.id;
                }

                if (level == 2) {
                    return category.id === $scope.selectedSub1.id;
                }

                if (level == 3) {
                    return category.id === $scope.selectedSub2.id;
                }

                if (level == 4) {
                    return category.id === $scope.selectedSub3.id;
                }

                if (level == 5) {
                    return category.id === $scope.selectedSub4.id;
                }
            };

            $scope.getData = function () {
                $scope.isLoading = true;
//                jQuery('body').loader('show');

                $http.get('<?php echo $helper->getDataUrl() ?>').then(
                    function (success) {
                        console.log(success)
                        var data = success.data;
                        for (let key in data) {
                            $scope[key] = data[key];
                        }
                        $scope.isShowCategory = true;
                        $scope.isLoading = false;
//                        jQuery('body').loader('hide');
                    },
                    function (error) {
                        $scope.isLoading = false;
                        console.error(error);
//                        jQuery('body').loader('hide');
                    }
                );
            };

//            setTimeout(function () {
            $scope.getData();
//            }, 100)
        });

        //        debugger
    </script>