<!--<!doctype html>-->
<!--<html ng-app="app" ng-strict-di>-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Starter Theme</title>-->
<!--    <meta name="description" content="">-->
<!--    <meta http-equiv="x-ua-compatible" content="ie=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />-->
<!--    <meta name="robots" content="noindex">-->
<!--</head>-->
<div ng-app="app" ng-strict-di>
    <div id="app-wrapper" ui-view></div>
<!--<script type="text/javascript" src="bundle.js"></script>-->

</div>
<!--</html>-->