<script>
    requirejs(['jquery', 'One'], function (jQuery, One) {
        console.log(One);
        jQuery('#btn-change-color').click(function () {
            One.changeColor();
        });
    });
</script>
<button id="btn-change-color">Change Color</button>