<form action="<?php echo
$this->getUrl('step_one/action/save'); ?>" method="post">
    <table>
        <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Content</th>
        <th>Complete Time</th>
        <th></th>
        </thead>
        <tbody>
        <?php
            foreach ($this->getItems() as $item):
        ?>
                <tr>
                    <td><?php echo $item->getId(); ?></td>
                    <td><?php echo $item->getTitle(); ?></td>
                    <td><?php echo $item->getContent(); ?></td>
                    <td><?php echo $item->getCreationTime(); ?></td>
                </tr>
        <?php endforeach; ?>
        </tbody>
        <tfoot>
        <tr>
            <td>

            </td>
            <td>
                <input name="title" type="text" placeholder="Title" maxlength="225"/>
            </td>
            <td>
                <textarea name="content" cols="35" rows="3" maxlength="225"></textarea>
            </td>
            <td>
                <input name="createdAt" type="datetime-local"/>
            </td>
            <td>
                <button>Save</button>
            </td>
        </tr>
        </tfoot>
    </table>
</form>