<?php /** * @var $this Infortis_UltraSlideshow_Block_Slideshow */ ?> <?php $slides = $this->getSlideIds(); ?> <?php if ($slides): ?> <?php $h = $this->getHelperData(); $sliderId = "slideshow-{$this->getFrontendHash()}"; $timeout = $this->getTimeout(); if ($timeout === NULL) { $timeout = intval($h->getCfg('general/timeout')); } else { $timeout = intval($timeout); } $loop = $this->getLoop(); if ($loop === NULL) { $loop = $h->getCfg('general/loop'); } $speed = intval($h->getCfg('general/speed')); $autoSpeed = intval($h->getCfg('general/auto_speed')); $pause = $h->getCfg('general/pause'); $smoothHeight = $h->getCfg('general/smooth_height'); $fx = $h->getCfg('general/effect'); $banners = $this->getBannersHtml(); $slideshowPositionClass = ''; $slideshowGridClass = ''; $bannersGridClass = ''; if ($banners) { $bannersPosition = $h->getCfg('banners/position'); if ($bannersPosition == 'left') { $slideshowPositionClass = 'right'; $slideshowGridClass = 'grid12-9 no-right-gutter'; $bannersGridClass = 'grid12-3 no-left-gutter'; } else { $slideshowGridClass = 'grid12-9 no-left-gutter'; $bannersGridClass = 'grid12-3 no-right-gutter'; } } /*else { $slideshowGridClass = 'grid-full no-gutter'; }*/ $hideSlideshowClass = ''; if ($h->getCfg('general/hide')) { $hideSlideshowClass = 'hide-below-768'; } $sliderClasses[] = $slideshowGridClass; $sliderClasses[] = $slideshowPositionClass; $sliderClasses[] = $hideSlideshowClass; $sliderClasses[] = 'slider-arrows2'; $paginationClass = $h->getCfg('navigation/pagination'); if ($paginationClass) { $sliderClasses[] = $paginationClass; $sliderClasses[] = $h->getCfg('navigation/pagination_position'); } ?> <?php if($this->isPredefined()): ?> <div class="the-slideshow-wrapper-outer" <?php echo $this->getMarginStyles(); ?>><?php endif; ?> <div class="the-slideshow-wrapper"><div class="the-slideshow <?php echo implode(' ', $sliderClasses); ?>"><div id="<?php echo $sliderId; ?>" class="slides"><?php foreach ($slides as $bid): ?> <?php if (!empty($bid)): ?> <div class="item slide"><?php ?> <?php echo $this->getLayout() ->createBlock('Magento\Cms\Block\Block') ->setBlockId($bid) ->toHtml(); ?></div><?php endif; ?> <?php endforeach; ?></div><!-- end: slides --></div><!-- end: the-slideshow --><?php if ($banners): ?> <?php $hideBannersClass = 'hide-below-768'; if ($h->getCfg('banners/hide') == false) $hideBannersClass = ''; ?> <div class="the-slideshow-banners slideshow-banners <?php echo $bannersGridClass . ' ' . $hideBannersClass; ?>"><?php echo $banners; ?></div><?php endif; ?></div><!-- end: the-slideshow-wrapper --><?php if($this->isPredefined()): ?></div><!-- end: the-slideshow-wrapper-outer --><?php endif; ?> <script type="text/javascript">
//<![CDATA[
    requirejs(['jquery','owlcarousel'], function(jQuery, owlcarousel){
        jQuery(function($) {
            var $ = jQuery;
            var owl = $('#<?php echo $sliderId; ?>');
            owl.owlCarousel({

                singleItem: true,

            <?php if ($speed): ?>
                slideSpeed: <?php echo $speed; ?>,
            <?php endif; ?> <?php if ($autoSpeed): ?>
                paginationSpeed: <?php echo $autoSpeed; ?>,
            <?php endif; ?> <?php if ($timeout): ?>
                autoPlay: <?php echo $timeout; ?>,
            <?php endif; ?> <?php if ($pause): ?>
                stopOnHover: true,
            <?php endif; ?> <?php if ($loop): ?>
                rewindNav: true,
                rewindSpeed: 600,
            <?php else: ?>
                rewindNav: false,
            <?php endif; ?> <?php if ($smoothHeight): ?>
                autoHeight: true,
            <?php endif; ?> <?php if ($fx): ?>
                transitionStyle: '<?php echo $fx; ?>',
            <?php endif; ?> navigation: true,
                navigationText: false

            }); 

        });
    });
//]]>
</script><?php endif; ?>